/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


 .fl-slide-0 .fl-slide-content-wrap {
    width: 100% !important;
}
.fl-slide-0 .fl-slide-content {
    margin: 0px !important;
}



.social-icons li a[title=facebook]{
	color: #3b5998!important;
}
.social-icons li a[title=houzz]{
	color: #7ac142!important;
}
.social-icons li a[title=instagram]{
	color: #fb3958!important;
}
ul.social-icons li a:hover i{
	color: none!important;
}
.search-row h1{
    color: #000!important;
}
#responsive-menu-container #responsive-menu-additional-content{
	padding: 12px 5%!important;
}
.gfield .gfield_select > option{
	color: #000!important;
}
#responsive-menu-container #responsive-menu-additional-content .storename .phone a span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;	
}
#responsive-menu-container #responsive-menu-additional-content .storename .phone a{
	color: #fff!important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	margin-top: 0px!important;
}
.gform_wrapper li.hidden_label input {
    margin-top: 0px !important;
}
.fl-post-header .fl-post-title{
	color: #5c5751!important;
}
.rowMin	.fl-row-content{
	min-width: 100%!important;
}

.columnSidebar .widgettitle{
	    font-size: 22px!important;
}

.rowMin	.slick-arrow.slick-prev{
	margin-left: 20px!important;
}
.rowMin	.slick-arrow.slick-next{
	margin-right: 20px!important;
}
.rowMin	.slick-arrow i{
	padding: 8px!important;
}
.fl-page .fl-page-header-primary{
	border-bottom: 2px solid #000!important;
}
header.fl-page-header-fixed {
		border-bottom: 2px solid #000!important;
}
.facet_filters strong {
    color: #5c5751!important;
}

.fl-page-bar .fl-page-bar-text-2{
		display: flex!important;
    	justify-content: flex-end!important;
}
.gfield input[type=text]{
	width: 100%;
}
.fl-page-bar .storename{
		margin-bottom: 0px!important;
}
.rowMinDesk .fl-row-content-wrap > .fl-row-content {
		min-width: 100%!important;
	}
.storename .direction > a{
	width: 200px!important;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
.fl-page-header-wrap > .container, .fl-page-bar > .container{
	width: auto!important;
	padding-left: 20px!important;
    padding-right: 20px!important;
}
}
@media screen and (min-width: 767px){
.gfield{
	padding-right: 15px!important;
}	
}
@media screen and (max-width: 768px){
	.rowMinDesk	.slick-arrow.slick-prev{
	margin-left: 20px!important;
}
.rowMinDesk	.slick-arrow.slick-next{
	margin-right: 20px!important;
}
.rowMinDesk	.slick-arrow i{
	padding: 8px!important;
}
	button#responsive-menu-button {
    width: 45px!important;
    height: 45px!important;
    top: 20px!important;
}
nav .navbar-toggle.navbar-toggler{
	display: none!important;	
}
.fl-content-slider .fl-slide-content{
	padding: 0px!important;
}	
.fl-page-bar{
	display: none;
}	
}
@media screen and (max-width: 500px){
	.covid-btn span{
		line-height: 1.2  !important;
		    font-size: 14px !important;
	}
	.fl-slide-0 .fl-col-small > .fl-col-content.fl-node-content{
		min-height: 250px;
	}
}
@media screen and (max-width: 375px){
button#responsive-menu-button {
    width: 45px!important;
    height: 45px!important;
    top: 15px!important;
}
}